
.portadaBasica{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    a {
        .logo-w {
            width: 100px;
        }
    }
}

.portada {
    @include portadaMixin($head-grad-color-1, $head-grad-color-2,
        map-get($map-header, url1), map-get($map-header, height1));
    @extend .portadaBasica;
}

.portada2 {
    @include portadaMixin($head-grad-color-2, $head-grad-color-2,
        map-get($map-header, url2), map-get($map-header, height2));
    @extend .portadaBasica;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 5;

    .nav-item {
        margin-left: 0.5rem;

        .nav-link {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .menu-activo {
            background-color: $color-primario;
            color: white !important;
        }

        .menu-boton {
            color: black !important;

            &:hover {
                color: $color-primario !important;
            }
        }
    }
}

.navbar.sticky {
    animation: fade-in 0.5s ease-out;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
    padding-left: 16.50rem;
    padding-right: 16.50rem;
    background: #1b1b1b;
}

@keyframes fade-in {
    0% {
        transform: translateY(-3rem);
    }

    100% {
        transform: translateY(0px);
    }
}


@media only screen and (max-width: 992px) {

    .navbar-expand-lg {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .nav-item {

            .nav-link {
                padding-top: 0.5rem !important;
                padding-bottom: 0.5rem !important;
            }

            .menu-activo {
                background-color: initial;
                color: $color-primario !important;
            }

        }
    }

    .navbar.sticky {
        animation: fade-in 0.8s ease-out;
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        background: #2e2c2c17;
    }

}