$color-primario: #fd869c;
$color-secundario: #5f323b;
$color-terciario: #9e5462;
$head-grad-color-1: #000000a0;
$head-grad-color-2: #00000088;
$bkgrd-grad-color-1: rgba(255,171,186,0.78) 0%;
$bkgrd-grad-color-2: rgba(253,134,156,0.26) 20%;
$bkgrd-grad-color-3: rgba(253,134,156,0.03) 90%;

$map-header:(
    url1: "../assets/img/theme-slide7.jpg",
    url2: "../assets/img/page-header.jpg",
    height1: 85vh,
    height2: 62vh
);